*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.barra_navegacion{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.barranav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    /* padding: 15px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    z-index: 1;
    height: 7rem;
    /* padding-top: 1rem; */
    /* padding-bottom: 1rem */
}

.jorgelogo{
    width: 9rem;
    object-fit: cover;
}

@media (max-width:991px){
    .barranav{
        height: 14rem;
    }
}

.items-derecha{
    text-align: right;
}

#inicio{
    color: #130f40;
}

.nav-item a{
    color: #130f40;
    font-weight: bold;
}

.nav-item a:hover{
    color: #f9d806;
}

#inicio:hover{
    color: #f9d806;
}

.slide{
    margin-top: 7rem;
}

.d-item{
    width: 100%;
}

.d-img{
    height: 700px;
    object-fit: cover;
}

.categorias{
    margin-top: 8rem;
}

.categorias h1{
    color: #130f40;
    font-weight: bold;
}

.categorias h4{
    color: #f9d806;
    font-weight: bold;
}

.productos-categorias{
    margin-top: 4rem;
}

.almacen img{
    width: 220px;
}

.bebidas img{
    margin-top: 1.6rem;
    width: 250px;
}

.bebidas button{
    margin-top: 1.8rem;
}

.frescos img{
    width: 270px;
}

.frescos button{
    margin-top: 2.4rem;
}

.limpieza img{
    margin-top: 0.5rem;
    width: 270px;
}

.limpieza button{
    margin-top: 2.6rem;
}

.productos-categorias a{
    text-decoration: none;
}

.btn{
    background-color: #f9d806;
    color: #130f40;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.carrusel{
    padding-top: 10rem;
    text-align: center;
    overflow-x: hidden;
}

.carrusel h1{
    font-size: 7.5vw;
    text-transform: uppercase;
    color: #130f40;
}

.carrusel img{
    width: 28%;
    margin: 1rem 0;
}

@media (max-width:991px){
    .carrusel{
        padding-top: 15rem;
    }
}

.caracteristicas{
    margin-top: 4rem;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    gap: 1.5rem;
    background: #eee;
}

.caracteristicas .iconos{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: .5rem;
}

.caracteristicas .iconos svg{
    height:3.1rem;
    width: 3.1rem;
    line-height: 5rem;
    font-size: 2.5rem;
    border-radius: 50%;
    background: #eee;
    color: #130f40;
    text-align: center;
}

.caracteristicas .iconos .texto-iconos h3{
    color: #f9d806;
    font-size: 2.5rem;
}

.caracteristicas .iconos .texto-iconos p{
    color: #666;
    font-size: 1rem;
}

.caracteristicas .iconos:hover{
    background: #130f40;
}

.caracteristicas .iconos:hover svg{
    background: #f9d806;
}

.caracteristicas .iconos:hover .texto-iconos h3{
    color: #fff;
}

.caracteristicas .iconos:hover .texto-iconos p{
    color: #eee;
}

