body{
    background-color: #fbf4f5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.barra_navegacion{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.barranav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #1c4c96;
    /* padding: 15px; */
    border-bottom: 3px solid #320000;
    position: relative;
    z-index: 1;
    height: 7rem;
    /* padding-top: 1rem; */
    /* padding-bottom: 1rem */
}

.jorgelogo{
    width: 9rem;
    object-fit: cover;
}

@media (max-width:991px){
    .barranav{
        height: 14rem;
    }
}

.items-derecha{
    text-align: right;
}

#inicio{
    color: #320000;
}

.nav-item a{
    color: #320000;
    font-weight: bold;
}

.slide{
    margin-top: 7rem;
}

.d-item{
    width: 100%;
}

.d-img{
    height: 700px;
    object-fit: cover;
}

.categorias{
    margin-top: 4rem;
}

.categorias h1{
    color: #1c4c96;
    font-weight: bold;
}

.categorias h4{
    color: #320000;
}

.productos-categorias{
    margin-top: 4rem;
}

.almacen img{
    width: 220px;
}

.bebidas img{
    margin-top: 1.6rem;
    width: 250px;
}

.bebidas button{
    margin-top: 1.8rem;
}

.frescos img{
    margin-top: 0.5rem;
    width: 300px;
}

.frescos button{
    margin-top: 2.4rem;
}

.limpieza img{
    margin-top: 0.5rem;
    width: 270px;
}

.limpieza button{
    margin-top: 2.6rem;
}

.productos-categorias a{
    text-decoration: none;
}

.btn{
    background-color: #1c4c96;
    color: #320000;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}